@import url("https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap");
@font-face {
  font-family: Norse;
  src: url(fonts/Norse-Bold.otf);
}
* {
  margin: 0 1rem;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #1a1919;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
aside,
body,
main {
  display: flex;
}
aside {
  box-shadow: 0px 0px 5px #222;
  margin: 0;
  position: relative;
  width: 30%;
  height: 100vh;
  background: center/ cover no-repeat
    url(img/halie-west-25xggax4bSA-unsplash.jpg);
}
main {
  background-color: #f6f5f5;
  margin: 0;
  flex-direction: column;
}
.logo {
  position: absolute;
  margin: 0;
  top: 20%;
  width: 100%;
  height: 12rem;
  background-color: rgba(21, 20, 20, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.logo h1 {
  color: white;
  font-size: 4.5rem;
  font-family: "Rubik Iso", cursive;
}
.logo .logo_img {
  height: 8rem;
}
.hero-text {
  margin: 0 2rem;
  font-weight: 500;
  font-size: 1.5rem;
  height: 35%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 2rem;
}
.form-text {
  font-size: 1.5rem;
  font-weight: 500;
  padding: 1.5rem 1rem;
}
p + p {
  margin-bottom: 4rem;
}
.hero-text p {
  margin-right: 20rem;
}
.hero-text span {
  font-style: italic;
  margin: 0;
}
.input-container {
  background-color: #fff;
  box-shadow: 0px 0px 5px #adacac;
  margin: 0;
  padding-right: 20rem;
}
.sign_up_form {
  margin: 0;
  height: 65%;
}
.sign_up_form .input-session {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
button {
  display: block;
}
input {
  font-size: 16px;
  margin: 0;
  width: 70%;
  height: 2.5rem;
  padding-left: 0.5rem;
}
.input-session label {
  margin: 0;
  display: block;
  margin-bottom: 0.5rem;
}
.input-item {
  margin-bottom: 1.5rem;
}
.submit {
  margin: 1.5rem 1rem;
}
button {
  font-size: 16px;
  background-color: #596d48;
  border: none;
  color: white;
  border-radius: 5px;
  padding: 0.75rem 2.5rem;
  margin-bottom: 1.5rem;
}
button:hover {
  background-color: rgb(42, 141, 72);
}
button:active {
  background-color: rgb(45, 121, 68);
}
p .login_text {
  color: rgb(45, 121, 68);
  margin: 0;
}
p .login_text a {
  color: rgb(45, 121, 68);
  text-decoration: none;
  margin: 0;
}
.input-item {
  position: relative;
}
input:required + span::after {
  font-size: 1rem;
  position: absolute;
  content: "*";
  padding: 5px 10px;
  top: -7px;
  left: -4%;
}
input:focus {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  border: none;
  outline: 2px red solid;
  box-shadow: 0 0 3px 3px #2d2d2da3;
}
input:invalid {
  border-radius: 5px;
  border: none;
  outline: 2px red solid;
}
input:valid {
  border-radius: 5px;
  border: none;
  outline: 2px green solid;
}
.error {
  border-radius: 5px;
  border: none;
}
.error::before {
  content: "*passwords do not match";
  font-size: small;
  color: red;
  display: block;
}
